.DS_Store

assets/scss/.sass-cache/*
/assets/scss/*.css
/.sass-cache/

node_modules/*
bower_components/*

vendor/*
!vendor/autoload.php
!vendor/composer/*
!vendor/facebook/*
!vendor/firebase/*
!vendor/google/*

.idea
.env

config.rb
package-lock.json
npm-debug.log
