#documentation {
    max-width:1366px;
    margin: 0 auto;
    padding:1em;

    @media ( max-width: $breakpoint-medium ) {
        padding:.5em;
    }

    .section-contents-list {
        ul {
            list-style-type:none;
        }
        padding-left: 1em;
    }
    .section-contents {
        display:none;
    }
    .sidebar {
        a {
            color: $black;
        }
        a:hover {
            text-decoration: underline;
        }
    }
}
